<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>爱阅读</title>
    <meta name="keywords" content="小说,小说网,玄幻小说,武侠小说,都市小说,历史小说,网络小说,言情小说,青春小说">
    <meta name="description" content="小说阅读,武侠小说,网游小说,都市小说,言情小说,青春小说,历史小说,军事小说,网游小说,科幻小说,恐怖小说,首发小说,最新章节免费">
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta name="updatetime" content="2018-08-09,20:55:32">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script type="text/javascript" src="http://www.iyd.cn/js/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="{$host}/public/css/style.css">
    <script type="text/javascript" src="{$host}/public/js/common.js"></script>
    <!-- 谷歌分析 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124579177-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-124579177-1');</script>
    <!-- 谷歌广告 -->
    {block name="adsense"}{/block}
</head>
<body style="background-color: #ffffff">
    {block name="header"}{/block}
    <div class="i_contain">
        {block name="left"}{/block}
        {block name="right"}{/block}
        {block name="content"}{/block}
    </div>
    {block name="footer"}{/block}
</body>
</html>