<div class="i_head">
<div class="i_head_t">
<div class="i_head_img"><img style="width: 168px; height: 68px;" src="{$host}/public/img/logo.png"></div>
<div class="i_search">
<input class="i_search_name" type="text" placeholder="请输入书名"/>
<div class="i_search_btn" style="cursor: pointer;"></div>
</div>
</div>
<div class="i_head_nav">
<ul class="i_menu">
<li class="i_menu_item"><a href="{$host}" class="c_write">首页</a></li>
<li class="i_menu_item"><a href="/novel/category/init/" class="c_write">分类</a></li>
<li class="i_menu_item"><a href="#" class="c_write">书架</a></li>
<li class="i_login_status {$showLog}"><nobr><a href="/novel/login/loginHTML/" class="c_write">登录</a>|<a href="/novel/login/registerHTML/" class="c_write">注册</a></nobr></li>
<li class="i_login_status {$showLogged}"><nobr><a href="#" class="c_write">{$userName}&nbsp;已登录</a></nobr></li>
</ul>
</div>
</div>