<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>爱阅读 404 </title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="{$host}/public/css/style.css">
    <!-- -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8080155533523922",
            enable_page_level_ads: true
        });
    </script>
</head>

<body style="background-color: #FFFAF0">
  <!-- 主要内容开始 -->
  <div align="center">
      <h3>404 网页没有找到 ...</h3><br/>
      <div><h1><?php echo nl2br(htmlentities($message)); ?></h1></div>
      <img src="/public/img/404.jpg"></div>
  </div>
  <div class="i_clear"></div>
  <div class="i_footer fix_bottom"></div>
</body>
</html>
