<!DOCTYPE html>
<html xml:lang="zh-Hans" lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>悦读吧</title>
    <!--<link rel="icon" href="{$host}/public/assets/img/dj.icon" type="image/x-icon"/>-->
    <!-- CSS 文件 -->
    <link href="{$host}/public/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{$host}/public/css/lrs-index.css" rel="stylesheet">
</head>
<body>
<!-- 导航栏开始 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">标题</a>
        </div>

        <!-- 导航内容开始 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">文学</a></li>
                <li><a href="#">传记</a></li>
                <li><a href="#">百科</a></li>
                <li><a href="#">励志</a></li>
                <li><a href="#">诗词</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="navbar-form navbar-left input-group">
                        <span class="input-group-btn" data-toggle="buttons">
                            <label class="btn btn-default active"><input type="radio" name="options" autocomplete="off" checked>书名</label>
                            <label class="btn btn-default"><input type="radio" name="options" autocomplete="off">作者名</label>
                        </span>
                        <input type="text" class="form-control" placeholder="请输入书名或者作者名...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">查找</button>
                        </span>
                    </div>
                </form>
            </ul>
        </div>
        <!-- 导航内容结束 -->
    </div>
</nav>
<!-- 导航栏结束 -->

<!-- 正文开始 -->
<div class="lrs-padding-banner container-fluid">
    <!-- 书籍介绍开始 -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" style="background: #c1e2b3">
            <div class="center-block" style="background: #c12e2a">
                <img src="{$host}/public/img/2205s.jpg" alt="测试图片" class="img-thumbnail lrs-detail-info-img">
                <ul class="center-block lrs-detail-info-detail">
                    <div class="page-header">
                        <h4>大主宰 <small>天蚕土豆</small></h4>
                    </div>
                    <dd>
                        <span class="label label-info">作品分类：玄幻魔法</span>
                        <span class="label label-info">连载状态：完结</span>
                        <span class="label label-info">最后更新：2018-06-20</span>
                    </dd>
                    <br/>
                    <div class="panel panel-info .hidden-xs .hidden-sm">
                        <div class="panel-heading">作品简介</div>
                        <div class="panel-body lrs-detail-info-desc">
                            <p class="text-justify" style="text-indent:25px; margin: 0 4px 4px 4px">
                                主角检索关键字 —— 陈俊龙、百美缘 陈俊龙，孤儿，从小就被某神秘组织培养成一流的杀手，但在一次执行任务时被组织出卖，从死亡中归来的陈俊龙改头换面，屏弃自己杀手的身份，以一个强势的姿态回到社会，并展开他的报复计划。在融入社会重新生活的同时，陈俊龙得到了众多娇美女孩的青睐，并与她们发生了一些动人的恋情故事。轻松的追美历程、热血的黑道战争、睿智的商场博弈，敬请关注《俊龙百美缘》！ （本故事纯属虚构，如有雷同，绝对巧合！）
                            </p>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- 书籍介绍结束 -->
    <br/>
    <!-- 章节信息开始 -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1" style="background: #204d74">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3" style="background: #419641">
                    <a href="#" class="lrs-detail-info-chapter">1 北大新生 ㈡</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3" style="background: #419641">
                    <a href="#" class="lrs-detail-info-chapter">2 北大新生 ㈡</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3" style="background: #419641">
                    <a href="#" class="lrs-detail-info-chapter">3 北大新生 ㈡</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3" style="background: #419641">
                    <a href="#" class="lrs-detail-info-chapter">4 北大新生 ㈡</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3" style="background: #419641">
                    <a href="#" class="lrs-detail-info-chapter">5 北大新生 ㈡</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3" style="background: #419641">
                    <a href="#" class="lrs-detail-info-chapter">6 北大新生 ㈡</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3" style="background: #419641">
                    <a href="#" class="lrs-detail-info-chapter">7 北大新生 ㈡</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3" style="background: #419641">
                    <a href="#" class="lrs-detail-info-chapter">8 北大新生 ㈡fsdfffffffffffffffffffffffffffffffffffffdasfsfsfsfasfasfafsafsfwqfsfewfasfsdfsaffffffffffff</a>
                </div>
            </div>

            <!-- 后续章节添加 -->
        </div>
    </div>
    <!-- 章节信息结束 -->
</div>
<!-- 正文结束 -->

<!-- 页脚开始 -->

<!-- 页脚结束 -->
<!-- javascript -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="{$host}/public/js/bootstrap.min.js"></script>
</body>
</html>