<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>爱阅读</title>
<meta name="keywords" content="小说,小说网,玄幻小说,武侠小说,都市小说,历史小说,网络小说,言情小说,青春小说,原创网络文学">
<meta name="description" content="小说阅读,精彩小说尽在起点中文网. 起点中文网提供玄幻小说,武侠小说,原创小说,网游小说,都市小说,言情小说,青春小说,历史小说,军事小说,网游小说,科幻小说,恐怖小说,首发小说,最新章节免费">
<meta name="robots" content="all">
<meta name="googlebot" content="all">
<meta name="baiduspider" content="all">
<meta name="updatetime" content="2018-08-09,20:55:32">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<script type="text/javascript" src="http://www.iyd.cn/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
<link rel="stylesheet" href="../../../public/css/style.css">
<script src="../../../public/js/common.js" type="text/javascript"></script>
</head>

<body onload="get_request()" style="background-color: #FFFAF0">
  <div class="i_head">
    <div class="i_head_t">
      <div class="i_head_img">
        <img src="https://farm4.static.mitang.com/M00/B8/F8/sIYBAFsLw7OAU5jlAAAUNUHMJhE969/爱阅读官网logo.png">
      </div>
      <div class="i_search">
        <input class="i_search_name" type="text" placeholder="请输入书名"/>
        <div class="i_search_btn" style="cursor: pointer;"></div>
      </div>
    </div>
    
    <div class="i_head_nav">
      <ul class="i_menu">
        <li class="i_menu_item">
          <a href="#" class="c_write">首页</a>
        </li>
        <li class="i_menu_item">
          <a href="#" class="c_write">分类</a>
        </li>
        <li class="i_menu_item">
          <a href="#" class="c_write">榜单</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div id="index_contain" class="i_contain">
    <div class="i_contain_left">
      
      <div class="i_contain_rank">
        <ul class="i_rank_chose">
          <li class="i_rank_chose_item cur">销量榜</li>
          <li class="i_rank_chose_item">下载榜</li>
          <li class="i_rank_chose_item">新书榜</li>
        </ul>

        <script></script>
        
        <ul class="i_rank_list">

          <li class="i_list_item">
            <div class="i_sample" style="display: none;">
              <span class="i_num">1.</span>
              <span class="i_name">无敌天下</span>
              <p class="i_author">神见</p>
            </div>
            <div class="i_detail" style="display: block;">
              <span class="i_num">1.</span>
              <a href="#">
                <img src="https://farm5.static.mitang.com/M02/94/A2/p4YBAFjSLVaATeP_AAAtoFpnU5o248/926105_180X240.jpg?mobileNetDownload=false" title="隐婚100分：惹火娇妻嫁一送一" width="100px"/>
              </a>

              <div class="detail">
                <a href="http://www.iyd.cn/Sort/bookInfo/899221?c=1" onclick="_gaq.push(['_trackEvent', '悦书店','点击简介页','首页排行榜']);">
                  <p class="i_detail_name">驭房有术</p>
                </a>
                <p class="i_detail_author">铁锁</p>
              </div>
            </div>
            <div class="i_clear"></div>
          </li>

        </ul>
      </div>
    </div>

      <!-- 主页输出推荐 -->
      <div id="i_contain_right" class="i_contain_right">
      </div>
  </div>
  <div class="i_clear"></div>

  <div class="i_footer fix_bottom">
<!--
      <div class="about">
          <a href="http://www.readingjoy.com/" target="_blank"><span>爱阅读首页</span></a>
          <a href="http://www.readingjoy.com/" target="_blank"><span>关于我们</span></a>
          <a href="http://www.readingjoy.com/" target="_blank"><span>联系我们</span></a>
          <a href="http://www.readingjoy.com/" target="_blank"><span>商务合作</span></a>
          <a href="http://www.readingjoy.com/index/recruitment" target="_blank">
            <span class="lst">加入我们</span></a>
      </div>
-->
  </div>
  <script>
      init();
  </script>

  
</body>
</html>
